body.night #glass-bg {
    background: rgba(30,30,40,0.18) !important;
    backdrop-filter: blur(8px) saturate(1.2);
    -webkit-backdrop-filter: blur(8px) saturate(1.2);
}
body.night.input-focus #glass-bg {
    background: rgba(30,30,40,0.28) !important;
    backdrop-filter: blur(28px) saturate(1.2);
    -webkit-backdrop-filter: blur(28px) saturate(1.2);
}
